@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: Nunito, sans-serif;
    color: #1C1C1C;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: Cambria, sans-serif;
    color: #FFFFFF;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363CF5;
}

nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Cambria, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/tech.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #FFFFFF;
    
}


header p {
    margin-bottom: 2em;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #363CF5;
    color: #FFFFFF;
}

#about h2 {
    color: #FFFFFF;
}

#about p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

.botao {
    border-radius: 18px;
    width: 50%;
    height: 50px;
    background-color: #F55632;
    margin-top: 2px;
}

.botao p {
    color: #FFFFFF;
}

.input {
    border-radius: 18px;
    width: 50%;
    height: 40px;
    background-color: #FFFFFF;  
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #191970;
}

#products div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    
}

#products h2, h3 {
    color: #FFFFFF;
}

#products img {
    width: 50%;
    border-radius: 1em;
}


footer { 
    background-color: #191970;
    text-align: center;
    height: 80px;
}

footer p {
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #about {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    .time {
        margin: 5px;
    }
    
    .time h2 {
        font-size: 18px;
        margin: 0;
    }
        
    .time small {
        font-size: 10px;
        color: #F55632;
    }
    
    h1 {
        font-size: 45px;
    }
    
    
    
}
/*Relogio*/
.countdown {
    display: flex;
    transform: scale(2);
  }
  
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  
  .time h2 {
    margin: 0 0 5px;
    color: #F55632;
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 45px;
    }
  
    .time {
      margin: 5px;
    }
  
    .time h2 {
      font-size: 12px;
      margin: 0;
    }
  
    .time small {
      font-size: 10px;
    }
  }